<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qurar</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li @click="showDelete = !showDelete"><a>Edit</a></li>
        </ul>
      </nav>
      <div class="tools">
        <div
          class="button is-info is-light"
          v-for="item in searchList"
          :key="item.key"
          @click="search(item.url)"
        >
          <img
            :src="item.icon"
            alt="item.name"
            v-if="item.icon"
            style="width: 20px; margin-right: 5px"
          />
          <span>{{item.name}}</span>
          <button class="delete is-small" v-show="showDelete"></button>
        </div>
        <div class="button is-light add" @click="showModal = true">+</div>
      </div>
      <div class="ipt-wrapper">
        <input
          type="text"
          class="input is-info"
          v-model="keyWords"
          placeholder="searching..."
        />
      </div>

      <div
        class="modal"
        :class="showModal ? 'is-active': '' "
        @click="handleModal"
      >
        <div class="modal-background" data-command="hide"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Enter the website address</p>
            <button
              class="delete"
              aria-label="close"
              data-command="hide"
            ></button>
          </header>
          <section class="modal-card-body">
            <input type="text" class="input is-info" />
          </section>
          <footer class="modal-card-foot">
            <button
              class="button is-info is-light is-outlined"
              data-command="hide"
            >
              Save changes
            </button>
            <!-- <button class="button" data-command="cancel">Cancel</button> -->
          </footer>
        </div>
      </div>
    </div>
  </body>
  <script src="./index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        searchList,
        keyWords: '',
        showDelete: false,
        showModal: false
      },
      methods: {
        handleModal() {
          const { command } = event.target.dataset;
          if (command === 'hide') this.showModal = false;
        },
        search(url) {
          const kw = this.keyWords.trim();
          if (!kw) alert('输入框不能为空!');
          else {
            url = url.replace('{query}', kw);
            window.open(url);
          }
        }
      }
    });
  </script>
</html>
