<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qurar</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </style>
    <link rel="stylesheet" href="./style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<div id="app">
    <div class="tool-container">
        <a class="btn-floating btn waves-effect waves-light blue lighten-3 modal-trigger" href="#tableEditor"><i class="material-icons">edit</i></a>
        <a class="btn-floating btn waves-effect waves-light blue lighten-3 modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
        <a class="btn-floating btn waves-effect waves-light blue lighten-3 modal-trigger" href="#modal2"><i class="material-icons">undo</i></a>
    </div>

    <div class="input-container">
        <div class="input-field">
            <input type="text" id="autocomplete-input" class="autocomplete" v-model="keyWords" @keyup.enter="search()">
            <label for="autocomplete-input">Searching...</label>
        </div>
    </div>

    <div class="row item-container">
        <div class="col s12 m6 l2" v-for="item in searchList">
            <div class="waves-effect waves-light item" @click="search(item.url)" draggable="true">
                <img :src="item.icon" style="width: 20px;" onerror="this.src='./favicon.ico'">
                <span>{{item.name}}</span>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h5>Enter website info</h5>

            <div class="modal-input-field">
                <div class="input-field">
                    <input type="text" id="autocomplete-input" class="autocomplete" v-model="name">
                    <label for="autocomplete-input">name</label>
                </div>
                <div class="modal-input-field">
                    <div class="input-field">
                        <input type="text" id="autocomplete-input" class="autocomplete" v-model="url">
                        <label for="autocomplete-input">url(eg: https://www.google.com/search?q={query})</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#!" class="waves-effect waves-green btn-flat" @click="save">save</a>
            </div>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h6>Sure to reset?</h6>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" @click="reset()">Agree</a>
        </div>
    </div>

    <div id="tableEditor" class="modal">
        <div class="modal-content">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="item in searchList">
                        <td>
                            <label>
                                <input type="checkbox" />
                                <span>{{item.name}}</span>
                            </label>
                        </td>
                        <td>{{item.url}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" @click="remove()">Delete</a>
        </div>
    </div>
</div>
</body>
<script src="./index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            searchList,
            M,
            keyWords: '',
            instance: null,
            name: '',
            url: '',
            instance: null,
            tableEditorInstance: null,
        },
        mounted() {
            this.initMaterial();
            this.initData();

        },
        methods: {
            initData() {
                this.getStoreSearchList() ?
                    this.searchList = this.getStoreSearchList() :
                    this.setStoreSearchList(this.searchList)
            },

            initMaterial() {
                this.M.AutoInit();
                const elem = document.querySelector('#modal1');
                const tableEditor = document.querySelector('#tableEditor');
                this.instance = this.M.Modal.init(elem);
                this.tableEditorInstance = this.M.Modal.init(tableEditor);
            },
            save() {
                let name = this.name.trim();
                let url = this.url.trim();

                if (!this.isUrlValuable(name, url)) {
                    return false;
                }
                this.saveData(name, url);
                this.resetData();
            },

            reset() {
                this.searchList = searchList;
            },

            remove() {
                // 根据id调用 removeSearch
            },

            search(url = this.searchList[0].url) {
                let kw = this.keyWords.trim();
                if (!kw) {
                    this.M.toast({
                        html: 'keywords can\'t be empty!'
                    })
                    return;
                }
                url = url.replace('{query}', this.keyWords);
                window.open(url);
                this.keyWords = '';
            },

            saveData(name, url) {
                let arr1 = url.split('//');
                let arr2 = url.split('//')[1].split('/');
                let icon = arr1[0] + '//' + arr2[0] + '/favicon.ico';
                let urlObj = {
                    name,
                    url,
                    icon
                }
                this.addSearch(urlObj)
            },

            addSearch(urlObj) {
                this.searchList.push(urlObj);
                this.setStoreSearchList(this.searchList);
            },

            removeSearch(url) {
                let index = this.searchList.findIndex(url);
                this.searchList.splice(index, 1);
                this.setStoreSearchList(this.searchList);
            },

            getStoreSearchList() {
                return JSON.parse(window.localStorage.getItem('searchList'));
            },

            setStoreSearchList(searchList) {
                window.localStorage.setItem('searchList', JSON.stringify(searchList));
            },

            resetData() {
                this.instance.close();
                this.url = '';
                this.name = '';
            },

            isUrlValuable(name, url) {
                const {
                    hasNameOrUrl,
                    isUrl,
                    nameLength,
                    hasQueryParam,
                    isExist
                } = this
                if (hasNameOrUrl(name, url) && isUrl(url) && nameLength(name) && hasQueryParam(url) && isExist(url)) {
                    return true;
                }
                return false;
            },

            hasNameOrUrl(name, url) {
                if (!name || !url) {
                    this.M.toast({
                        html: 'name and url is required!'
                    })
                    return false;
                }
                return true;
            },

            isUrl(url) {
                if (!url.startsWith('https') || !url.startsWith('http')) {
                    this.M.toast({
                        html: 'url is not valid!'
                    })
                    return false;
                }
                return true;
            },

            nameLength(name) {
                if (name.length > 20) {
                    this.M.toast({
                        html: 'max name length is exceed!'
                    })
                    return false;
                }
                return true;
            },

            isExist(url) {
                if (this.searchList.filter(v => v.url === url).length) {
                    this.M.toast({
                        html: 'url is already exist!'
                    })
                    return false;
                }
                return true;
            },

            hasQueryParam(url) {
                if (!url.indexOf("{query}")) {
                    this.M.toast({
                        html: '{query} is required!'
                    })
                    return false;
                }
                return true;
            }
        },
    });

</script>

</html>
