.tool-container {
    padding-left: 10px;
    padding-top: 10px;
}

.input-container {
    padding: 10% 12% 5% 12%;
}

.item-container {
    padding: 0 10%;
}

.item {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff5fb;
    color: #296fa8;
    margin-bottom: 10px;
}

.item>img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.modal-input-field {
    padding-top: 10px;
}